.login-container{
    width: 400px;
    margin: 100px;
    padding: 20px;
    background-color: rgb(168, 181, 202);
    border-radius: 4px;
    
}
h1{
    text-align: center;
}
button{
    width: 100px;
    padding: 10px;
    background-color: rgb(46, 80, 12);
    color: aliceblue;
    border-radius: 4px;
    margin-left: 150px;
}
input{
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 4px;
}
body{
    background-color: rgb(36, 27, 50);
}